<% layout("/layouts/boilerplate")%>
<div class="row mt-3">
  <div class="col-8 offset-2">
<h3>Edit your Listing</h3>
<form method="POST" action="/listings/<%= listing._id %>?_method=PUT" enctype="multipart/form-data">
  <div class="mb-3">
     <label for="title" class="form-label">Title</label>
    <input name="listing[title]" value="<%= listing.title %>" type="text" class="form-control"/>
  </div>
  
  <div class="mb-3">
    <label for="description" class="form-label">Description</label>
    <textarea name="listing[description]" class="form-control">
    <%= listing.description %></textarea>
  </div>
  <!-- <div class="mb-3" >
    Original Listing Image
    <img src="<%= listing.image.url %>">
    
  </div> -->
  
  <div class="mb-3">
    <label for="image" class="form-label">Upload New Image</label>
    <input name="listing[image]" value="<%= listing.image %>" type="file" class="form-control" />
    
  </div>
    <div class="row">

    
  <div class="mb-3 col-md-4">
    <label for="price" class="form-label">Price</label>
    <input name="listing[price]" value="<%= listing.price %>" type="number" class="form-control" />
  </div>
  
 <div class="mb-3 col-md-8">
  <label for="country" class="form-label">Country</label>
  <input
    name="listing[country]"
    value="<%= listing.country %>"
    type="text"
    class="form-control"
  />
 </div>
 </div>
  
 <div class="mb-3">
  <label for="location" class="form-label">Location</label>
  <input
    name="listing[location]"
    value="<%= listing.location %>"
    type="text"
    class="form-control"
  /></div>
  
  <div class="mb-3">
    <label for="category" class="form-label">Category</label>
    <select name="listing[category]" class="form-control" required>
        <option value="">Select a category</option>
        <option value="trending" <%= listing.category === 'trending' ? 'selected' : '' %>>Trending</option>
        <option value="rooms" <%= listing.category === 'rooms' ? 'selected' : '' %>>Rooms</option>
        <option value="iconic-city" <%= listing.category === 'iconic-city' ? 'selected' : '' %>>Iconic City</option>
        <option value="mountains" <%= listing.category === 'mountains' ? 'selected' : '' %>>Mountains</option>
        <option value="castles" <%= listing.category === 'castles' ? 'selected' : '' %>>Castles</option>
        <option value="arctic" <%= listing.category === 'arctic' ? 'selected' : '' %>>Arctic</option>
        <option value="camping" <%= listing.category === 'camping' ? 'selected' : '' %>>Camping</option>
        <option value="farms" <%= listing.category === 'farms' ? 'selected' : '' %>>Farms</option>
        <option value="amazing-pool" <%= listing.category === 'amazing-pool' ? 'selected' : '' %>>Amazing Pool</option>
        <option value="beach" <%= listing.category === 'beach' ? 'selected' : '' %>>Beach</option>
        <option value="island" <%= listing.category === 'island' ? 'selected' : '' %>>Island</option>
        <option value="foreign-trip" <%= listing.category === 'foreign-trip' ? 'selected' : '' %>>Foreign Trip</option>
    </select>
  </div>
  
  <button class="btn btn-dark add-dtn mt-3 edit-btn">Edit</button>
</form>
 </div>
</div>
